<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="user">
<!--시큐리티 이전  -->
<!-- 	<select id="login" resultType="UserVO">
		select * from simplelogin
		where
		userid = #{userid}
		and userpw = #{userpw}
	</select> -->
	<!--시큐리티 -->
	<select id="login" resultType="UserVO">
		select * from simplelogin
		where
		userid = #{userid}
	</select>

	<insert id="loginCreate" parameterType="UserVO">
	insert into simpleLogin( userId,userPw,userNm,email,address,phoneNumber)
           values (#{userid},#{userpw},#{usernm},#{email},#{address},#{phonenumber})
	
	</insert>


     <select id="checkId" resultType="java.lang.Integer">
        select count(*) from simplelogin where userid = #{userid}
      </select>
     
</mapper> 

